@font-face {
    font-family: 'California Grotesk';
    src: url('fonts/CaliforniaGroteskRegular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'California Grotesk';
    src: url('fonts/CaliforniaGroteskMedium.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'California Grotesk';
    src: url('fonts/CaliforniaGroteskBold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'California Grotesk';
    src: url('fonts/CaliforniaGroteskBlack.woff2') format('woff2');
    font-weight: 900; /* Black */
    font-style: normal;
}


.merchLayout {
    display: flex;
    gap: 50px;
    padding: 40px;
}

.m-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.m-column:first-child {
    margin-bottom: 400px;
}

.m-column:last-child {
    margin-top: 400px;
}




.paraBlock img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.paraText a {
    text-decoration: none;
    text-align: center;
}

.paraText h2 {
    font-family: 'California Grotesk', sans-serif;
    font-weight: 900;
    font-size: 48px;
    transition: color 0.5s ease;
}

.paraText h2:hover {
    background-color: #33103c;
    color: white;
    border-color: #33103c;
    border-style: outset;
    border-radius: 50px;
}

.paraText p {
    font-family: 'California Grotesk', sans-serif;
    font-weight: 400;
    font-size: 24px;
    max-width: inherit;
    word-wrap: break-word;
    word-break: break-word;
}

 

@media (max-width: 768px) {
    .merchLayout {
        flex-direction: column;
        gap: 20px;
    }
    .m-column:first-child,
    .m-column:last-child {
        margin: 0;
    }

}
